.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #0f1c3f;
    color: white;
    padding: 20px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-content {
    margin-left: 240px;
    padding: 30px;
    background-color: #f5f7fa;
    min-height: 100vh;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.no-expenses {
    text-align: center;
    padding-top: 150px;
}

table th:nth-child(1),
table td:nth-child(1) {
    width: 60px;
}

table th:nth-child(2),
table td:nth-child(2) {
    width: 200px;
}

table th:nth-child(3),
table td:nth-child(3) {
    width: 150px;
}

table th:nth-child(4),
table td:nth-child(4) {
    width: 160px;
}

table th:nth-child(5),
table td:nth-child(5) {
    width: 140px;
}

td input,
table th,
td {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
}

.on-hover-th:hover {
    cursor: pointer;
}

input,
option {
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

.dashboard-buttons-div {
    display: flex;
    justify-content: space-evenly;
}

svg {
    width: 16px;
    height: 16px;
}

.income-class {
    color: green;
}

.expense-class {
    color: red;
}

.total-balance {
    display: flex;
    justify-content: space-evenly;
}

table {
    border: 2px solid black;
}

section {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* BALANCE SUMMARY STYLES */
.balance-summary {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.summary-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    color: white;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.summary-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.summary-info span {
    font-size: 16px;
}

.icon-wrapper {
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.icon-custom {
    width: 32px;
    height: 32px;
}

.summary-label {
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 4px;
}


.income-card {
    background: #7b61ff;
}

.expense-card {
    background: #4a90e2;
}

.balance-card {
    background: #3ecf8e;
}