header {
    background-color: #333aaa;
    color: white;
    padding: 10px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}